# E-mail que envia as ocorrências
EMAIL_REMETENTE=seu_email@gmail.com

# Senha de app gerada na Conta Google
SENHA_APP=sua_senha_de_app_do_google

# E-mail que receberá os PDFs das ocorrências
EMAIL_DESTINO=email_destino@gmail.com

# Número que receberá a notificação via WhatsApp
# Use DDD + número. Exemplo: 11999999999
WHATSAPP_ESCOLAR=11999999999
